body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    margin: 0;
    color: #2F4858;
}

h1, h2, h3 {
    color: #E79B42;
}

a {
    color: #00C5FF;
}

.header, #Experience {
    background-color: #EDE9D0;
}



